@media(orientation: portrait){/* Use as portrait model */
	body {/*To change the background color of the page and set the liquid layout */
		width: 98%;
		margin: 0 auto;
		background-color: yellow;
	}
	#page {/*To make the page to overflow auto depend on the size of screen*/
		overflow: auto;
	}
	header{	/*To change the header background color to orange*/
		background-color: orange;
	}
	#pagetitle{/*To make the title to the middle of the header */
		text-align: center;
	}
	h1{/*change the size of title*/
		font-size: 60px;
		
	}
	
	p, li, label {/*change the size of the fonts*/
		font-size: 60px;
		
		
	}
	
	legend{/*change the size of legend, the word of fieldset */
		font-size: 40px;
		
	}
	nav, footer{	/*To change background color and the text color  navigation and footer */
		clear: both;
		color: black;
		background-color: #aeaca8;
	}

	/* Make the navigation in meun into line, and make the distance between the link */
	nav li{
		display: inline;
		padding: 2em;
	}
	/*Make the main to cover the area between the header and the rooter */
	#main{
		width: 100%;
		height: 100%;/*In order to liquid layout, to make the main to cover the area between the header and the rooter */
		
	}
	/* change the background color*/
	aside{
		background-color: orange;
		margin:1%;
		padding: 2em;
	}
	#content{/*Make the content to the right */	
		width: 95%;
	}
	#result_sample_map {
        width: 100%;
        height: 400px;
        background-color: grey;
		}
	img{
		width:100%;/* Create the liquidity of the image */
	}
	table, th, td {/* Decide the style of table */
		border: 1px solid black;
	}
	/* Create the liquidity of the table and the cells*/
	table{
		width:97%;
	}
	th, td{
		width:22.5%;
		font-size: 50px;
	}
}







@media(orientation: landscape){/* Use as landscape model and computer screen */
	body {/*To change the background color of the page and set the liquid layout */
		width: 98%;
		margin: 0 auto;
		background-color: yellow;
	}
	#page {/*To make the page to overflow auto depend on the size of screen*/
		overflow: auto;
	}
	header{	/*To change the header background color to orange*/
		background-color: orange;
	}
	#pagetitle{/*To make the title to the middle of the header */
		text-align: center;
	}
	nav, footer{	/*To change background color and the text color  navigation and footer */
		clear: both;
		color: black;
		background-color: #aeaca8;
	}
	#result_sample_map {
        width: 100%;
        height: 400px;
        background-color: grey;
		}
	/* Make the navigation in meun into line, and make the distance between the link */
	nav li{
		display: inline;
		padding: 2em;
	}
	/*Make the main to cover the area between the header and the rooter */
	#main{
		width: 100%;
		height: 100%;/*In order to liquid layout, to make the main to cover the area between the header and the rooter */
		
	}
	/*Make the sidebar to the left and change the background color*/
	aside{
		background-color: orange;
		margin:1%;
		float: left;
		width: 20%;
		height: 100%;
		padding: 2em;
	}
	#content{/*Make the content to the right */	
	
		float: right;
		width: 70%;
	}
	img{
		width:100%;/* Create the liquidity of the image */
	}
	table, th, td {/* Decide the style of table */
		border: 1px solid black;
	}
	/* Create the liquidity of the table and the cells*/
	table{
		width:97%;
	}
	th, td{
		width:22.5%;
	}
}


